PORT=Port_number
MONGO_URI=your_MONGO_URI
SECRET=your_jwt_secret_key
EXPIRES=7d
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLIENT_URL=your_client_url
ML_SERVICE_URL=your_ML_SERVICE_URL